body,div,p,h1,h2,h3,h4
{
  margin:0;
  padding:0;
}

body
{
  background:#333;
  font-family:Georgia,Arial,sans-serif;
}

img
{
  border:none;
}

h1,h2,h3,h4
{
  font-family:"Graublau Web",Helvetica,sans-serif;
}

a
{
  text-decoration:none;
}

a:link
{
  color:#3270ae;
}

a:visited
{
  color:#3270ae;
}

a:hover
{
  color:#008dff;
}

span.reldate
{
  color:#888;
}

p.autoalign
{
  display:block;
  left:0;
  position:relative;
  width:100%;
}

ins,div.ins
{
  text-decoration:none;
}

del,div.del
{
  display:none;
  text-decoration:none;
}

img.bordered
{
  -moz-border-radius:8px;
  -moz-box-shadow:2px 3px 5px;
  -o-border-radius:8px;
  -o-box-shadow:2px 3px 5px;
  -webkit-border-radius:8px;
  -webkit-box-shadow:2px 3px 5px;
  background-color:#fff;
  border:8px solid #FFF;
  border-radius:8px;
  box-shadow:2px 3px 5px;
  padding:10px 16px;
}

#header
{
  background-color:#333;
  color:#eee;
  display:block;
  height:50px;
  margin:0 auto;
  padding:0 8px 0 20px;
  width:640px;
}

#header h1
{
  font-size:25pt;
  font-weight:400;
  margin:32px 10px;
  padding:0;
  position:absolute;
}

#header span#nvie
{
  color:#fff;
  font-weight:700;
}

#header span#dot
{
  color:#ccc;
}

#header span#ext
{
  color:#bbb;
  letter-spacing:-.05em;
}

#header ul
{
  display:block;
  float:right;
  margin:36px 0 10px;
  padding:8px;
  text-align:right;
  width:380px;
}

#header ul li
{
  -moz-border-radius:4px;
  -o-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  color:#ddd;
  display:inline;
  font-family:"Graublau Web",Helvetica,sans-serif;
  font-size:10pt;
  font-weight:600;
  margin:0 4px;
  padding:6px 10px;
  pointer:hand;
  text-shadow:#333 1px 0 2px;
}

#header ul li a
{
  color:inherit;
}

#main
{
  -moz-border-radius:8px;
  -moz-box-shadow:1px 2px 5px;
  -o-border-radius:8px;
  -o-box-shadow:1px 2px 5px;
  -webkit-border-radius:8px;
  -webkit-box-shadow:1px 2px 5px;
  background-color:#fff;
  border-radius:8px;
  box-shadow:1px 2px 5px;
  color:#333;
  margin-left:auto;
  margin-right:auto;
  min-height:480px;
  overflow:visible;
  padding:20px;
  position:relative;
  top:38px;
  width:600px;
  z-index:2;
}

#main h1
{
  clear:both;
  color:#333;
  font-size:40px;
  font-weight:700;
  letter-spacing:-1px;
  line-height:40px;
  margin:26px 0;
}

#main h2
{
  clear:both;
  margin-bottom:12px;
  margin-top:24px;
}

#main h3
{
  clear:both;
}

#main h4
{
  clear:both;
}

#main #permalink
{
  font-family:"Graublau Web",Helvetica,sans-serif;
  margin-top:-16px;
}

#main h2 a
{
  color:#333;
}

#main p + ul
{
  margin-top:-12px;
}

#main ul
{
  margin:10px 0 20px;
}

#main p
{
  font-size:15px;
  line-height:20px;
  margin:10px 0 20px;
}

#main p.clear
{
  clear:both;
}

#main span.small
{
  font-size:80%;
}

#main span.lite
{
  color:#666;
}

#main ul li
{
  list-style-type:square;
}

#main li
{
  font-size:15px;
  line-height:20px;
}

#main hr
{
  -moz-box-shadow:1px 0 5px;
  -o-box-shadow:1px 0 5px;
  -webkit-box-shadow:1px 0 5px;
  border:none;
  border-bottom:1px solid#ccc;
  box-shadow:1px 0 5px;
  clear:right;
}

#main p.dateline
{
  color:#ccc;
  font-family:"Graublau Web",Helvetica,sans-serif;
  font-size:12px;
  padding:0;
  text-align:left;
}

#main p.created_at
{
  margin-bottom:8px;
  margin-top:-16px;
}

#main p.updated_at
{
  margin-bottom:8px;
  margin-top:-12px;
}

#main p.center
{
  text-align:center;
}

#main a#toggle-edits
{
  background-color:#FFFFE0;
  margin-left:8px;
}

#main h1.year
{
  -moz-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
  color:#fff;
  float:left;
  font-size:60px;
  margin:24px 0 0 -140px;
  padding:40px 0 0;
  text-align:right;
  text-shadow:-1px 1px 2px;
  transform:rotate(-90deg);
  width:130px;
}

#main .post-summary
{
  clear:right;
}

#main .post-summary h2
{
  margin-bottom:0;
}

#main .post-summary p.created_at
{
  margin-bottom:0;
  margin-top:0;
}

#main .post-summary p.updated_at
{
  margin-bottom:4px;
  margin-top:-4px;
}

#main code
{
  font-family:"Droid Sans Mono",Courier New,monospace!important;
  font-size:9pt;
}

#main pre code
{
  display:block;
  margin:0;
  max-width:520px;
  overflow:visible;
  padding:0;
}

#main pre
{
  -moz-border-bottom-right-radius:12px;
  -moz-box-shadow:2px 3px 5px;
  -o-border-bottom-right-radius:12px;
  -o-box-shadow:2px 3px 5px;
  -webkit-border-bottom-right-radius:12px;
  -webkit-box-shadow:2px 3px 5px;
  background-color:#fefef1;
  border:1px solid #f7a600;
  border-bottom-right-radius:12px;
  border-left-style:solid;
  border-left-width:5px;
  box-shadow:2px 3px 5px;
  color:#222;
  display:table;
  font-family:"Droid Sans Mono",Courier New,monospace!important;
  font-size:9pt;
  line-height:1.4em;
  margin:10px 20px 20px;
  overflow:hidden;
  padding:10px 16px;
}

#main p + pre
{
  margin-top:-10px;
}

#main img
{
  max-width:580px;
}

#main img.center
{
  display:block;
  margin:0 auto;
}

#main img.right
{
  float:right;
  margin:0 0 12px 12px;
}

#main img.postimg
{
  -moz-box-shadow:1px 3px 20px;
  -o-box-shadow:1px 3px 20px;
  -webkit-box-shadow:1px 3px 20px;
  box-shadow:1px 3px 20px;
  float:right;
  margin:26px 0 20px 20px;
}

#footer
{
  background-color:#333;
  color:#ccc;
  line-height:1.1em;
  margin:0 auto;
  padding:40px;
  width:600px;
}

#footer a
{
  color:#fff;
  text-decoration:none;
}

#footer img
{
  vertical-align:middle;
}

#footer h1
{
  font-size:16pt;
  margin-bottom:12px;
  margin-top:28px;
}

#footer p
{
  font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size:10pt;
  margin-top:8px;
}

input#moreposts
{
  -moz-border-radius:6px;
  -moz-box-shadow:2px 3px 5px;
  -o-border-radius:6px;
  -o-box-shadow:2px 3px 5px;
  -webkit-border-radius:6px;
  -webkit-box-shadow:2px 3px 5px;
  background-color:#00adee;
  background-image:0;
  border:1px solid #0076a3;
  border-radius:6px;
  box-shadow:2px 3px 5px;
  color:#d9eef7;
  font-size:10pt;
  margin-top:30px;
  padding:8px;
  width:100%;
}
