<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=us-ascii" />
    <meta charset="utf-8" />
    <title>qnm.co</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/default.css" />
</head>
<body>
  <div id="header">
    <h1>
      <a href="http://qnm.co/">
        <span id="qnm">qnm</span><span id="dot">.</span><span id="ext">co</span>
      </a>
    </h1>
    <ul>
      <li id="home"><a href="/">Home</a></li>
      <li id="articles"><a href="/all.html">Articles</a></li>
      <li id="about"><a href="/about.html">About me</a></li>
    </ul>
  </div>
  <div id="main">
    <div id="item">
      {{ content }}
    </div>
  </div>
  <div id="footer">
    <h1>About this blog</h1>
    <p>This is the havers of Rob Sharp, a Sydney-based software developer. He writes online here.</p>
  </div>
</body>
</html>
